.menu-item {
  width: 300px;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.menu-item > img {
  height: 70px;
  width: 70px;
}
.menu-item input {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  margin: 5px 0;
  font-size: 0.9rem;
  height: 30px;
  padding: 5px;
}
.menu-item h4 {
  text-transform: uppercase;
  font-weight: 400;
  overflow-wrap: break-word;
}
.menu-item__buttons {
  margin-top: 10px;
  display: flex;
  /* border: 1px solid purple; */
  justify-content: space-between;
}
.menu-item__buttons button {
  background: #c42012;
  padding: 10px 20px;
  font-size: 0.9rem;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}
